.tag-cover {
    display: flex;
}

.input {
    width: 100%;
    padding: 15px;
    outline: none;
    border: none;
    @media screen and (max-width: 400px) {
        padding: 12px;
    }
    &.basic {
        font-size: 17px;
        @media screen and (max-width: 400px) {
            font-size: 12px;
        }
    }
}