.app {
  & .header {
    position: fixed;
    width: 800px;
    margin: auto;
    padding: 20px 15px;
    z-index: 1;
  }
  & .description {
    .address-field {
      border: 1px solid;
      margin: 0 15px;
      padding: 15px;
      font-size: 18px;
      background: white;
    }
    .step1 {
      background: red;
    }
    .step2 {
      background: green;
    }
    .step3 {
      background-image: url('./asset/shaking-hands-2499629_1920.jpg');
      background-size: 100% 100%;
      .formFields {
        width: 800px;
        margin: 0 auto;
      }
    }
  }
}